<a href="https://colab.research.google.com/github/deathplay12/coursera-1/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

python

r

julia

Some of the popular librries that Data Scientists use are:

sklearn
ggplot2
pandas
numpy
julia

table of Data Science tools

Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
a = 2 + 3
print(a)

5

expression to mutiply then add integersssions in Python

In [3]:
a = 2 * 3
b = a + 5
print (b)

11

Create a code cell to convert minutes to hours

In [4]:
 t = 200
 h = t / 6
 print (h)

33.333333333333336

author

In [5]:
print ("priyanshu raj")

priyanshu raj